Package: com.crazybloo.testpack
Name: TestPackage
Depends: 
Architecture: iphoneos-arm
Description: An awesome application!
Maintainer: System Administrator
Author: System Administrator
Section: Utilities
Version: 0.0.1-1
Installed-Size: 64
